.product-card{
 
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    
}

.product-card {
    display: flex;
    gap: 20px;
}

.product-card img {

width: 100%;
height: 200px;
object-fit: cover;

}

.shop {

padding: 40px 20px;

}

.shop h2 {

    text-align: center;
    margin-bottom: 20px;

}

.product-card a {
    
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}
